---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import SpotifyPlaylist from '../components/Spotify.vue'
---

<link
  href="https://api.fontshare.com/v2/css?f[]=space-hanuman@500,600&display=swap"
  rel="stylesheet"
/>

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title font-tabular">
      <span style="color: {{dark ? 'white' : 'black'}};">D</span>
      <span style="color: red;">hruv Koli 👾</span>
    </h1>

    <p>
      I'm a CS Sophomore at IIIT Dharwad, India. I like football, video-games
      and love to participate in Algorithmic and Heuristic Competitions.
    </p>

    <!-- <SpotifyPlaylist /> -->
    <img src="/E25.gif" />

    <h2 class="mt-8 text-xl font-semibold">Milestones (ordered by time)</h2>
    <ul class="list-disc pl-5 mt-4">
      <li>Master on COD-Mobile.</li>
      <li>Playing GTAV, RDR2 (to be completed in 2025).</li>
      <li>Ranked 1481 in Meta Hacker Cup 2024 Round 1.</li>
      <li>Completed Score Hero till season 40 (before 2019).</li>
      <li>Built a functioning palace in Minecraft (2016).</li>
      <li>
        Won almost every trophy in the highest leagues in FIFA 15
        (career-player-mode).
      </li>
      <li>Completed all the Ashes Scenarios in EA Cricket 07 (2014).</li>
      <li>Completed IGI-1 in 2013.</li>
      <li>Completed GTAVC, GTASA in 2011.</li>
    </ul>

    <p>
      Explore my thoughts on <a href="/blog">blog posts</a> and see them in action
      on <a href="/projects">projects</a>.
    </p>

    <hr class="hr-line" />

    <h2 class="mt-8 text-xl font-semibold">Connect with me</h2>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>

    <p>
      Or reach me directly at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
