---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import SpotifyPlaylist from '../components/Spotify.vue'
---

<link
  href="https://api.fontshare.com/v2/css?f[]=space-hanuman@500,600&display=swap"
  rel="stylesheet"
/>

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title font-tabular">
      <span style="color: {{dark ? 'white' : 'black'}};">D</span>
      <span style="color: red;">hruv Koli 👾</span>
    </h1>
    <p class="italic text-center text-gray-600 mt-4">
      "Amongst all the chaos happening around me this semester, I have tried to
      make it more chaotic by creating this website in my free time. I don't
      really like to do this, but also don't like writing code on paper." –
      Dhruv Koli
    </p>
    <p>Competitive Programmer && CS sophomore at IIIT, Dharwad</p>
    <p>🐐messi fan.</p>
    <SpotifyPlaylist />
    <h2 class="mt-8 text-xl font-semibold">Achievements</h2>
    <ul class="list-disc pl-5 mt-4">
      <li>Ranked 1481 in Meta Hacker Cup 2024 Round 1</li>
    </ul>
    <p>Check my posts here ➡️ <a href="/blog">All posts.</a></p>
    <p>and projects here ➡️ <a href="/projects">All projects.</a></p>

    <p>
      This is my 🏡 residence on the web. If you like this, please consider
      following/ connecting with me on my Socials.
    </p>

    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      or mail me at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
