---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import SpotifyPlaylist from '../components/Spotify.vue'
---

<link
  href="https://api.fontshare.com/v2/css?f[]=space-grotesk@500,600&display=swap"
  rel="stylesheet"
/>

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title, font-tabular">Dhruv Koli ⚡</h1>
    <p>Competitive Programmer && CS sophomore.</p>
    <p>
      This is the 76th version overall and 5th build of my website. I have tried
      different styles but none of them was as good as this one /). Also this
      month (July 2024) will be the first anniversary of the deployment of my
      website.
    </p>
    <p>🐐 messi fan.</p>
    <p>Here is what I listen to get back in late 2000's.(Thanks to Jas ㋡)</p>
    <SpotifyPlaylist />
    <p>
      Thanks to <a href="https://kaivanwong.me/">Kaivan Wong</a> and <a
        href="https://antfu.me/">Anthony Fu</a
      > for the inspiration ㋡.
    </p>

    <p>Check my posts here ➡️ <a href="/blog">All posts.</a></p>
    <p>and projects here ➡️ <a href="/projects">All projects.</a></p>

    <p>
      This is my 🏡 residence on the web. If you like this, please consider
      following/ connecting with me on my Socials.
    </p>

    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      or mail me at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
